__debug_bin
/Go/fileserver/debug
/TypeScript/dist
/TypeScript/node_modules
/Python/python3/server/upload
/Python/python3/server/download
/Python/python3/client/download
Go/lang/practise/*.o
/Go/web/fileserver/debug
/Go/pkg
/Go/.vscode
/Go/src/lang/pprof/data/*.exe
**/*.exe
Go/cpu.log
Go/profile
Go/main.o
Go/main
